.theNotification
    +box-sizing(border-box)
    +border-radius(5px)
    +box-shadow(0 0 5px rgba(gray, 0.5))
    width: 300
    padding: 10
    background-color: rgba($blue, 0.8)
    position: fixed
    z-index: 999
    top: 0
    right: 10px
    bottom: auto
    left: auto

.theNotification__title
    font-size: 1.1em
    margin: 0 0 10 0
    color: white

.theNotification__msg
    font-size: 0.9em
    margin: 0
    color: white
